* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #272727;
    color: #fff;
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
}

.text-secondary {
    color: #ff652f;
}

main {
    height: 100%;
    width: 100%;
}

main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

main .social-icons a {
    padding: 0.4rem;
    transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
    color: #ff652f;
}

@media screen and (max-width: 768px) and (min-width: 100px) {
    .home {
        font-size: 10px;
    }

    .home .social-icons {
        display: flex;
        flex-direction: column;
    }

    .home footer {
        font-size: 0.8rem;
        transform: rotate(90deg) translate(-4rem, -5rem);
    }

    .home__name--last {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;
    }

    .nav .menu-nav {
        display: block;
        transform: translateY(0);
        height: 100%;
        background: transparent;
        text-align: center;
    }

    .nav .menu-nav__item {
        display: inline;
        padding-right: 1.5rem;
    }

    .nav .menu-nav__link {
        font-size: 1.5rem;
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects__bio-image {
        height: 40vh;
    }

    .projects__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects .text-secondary {
        font-size: 3rem;
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .projects__items {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .projects__bio-image {
        height: 50vh;
    }

    .projects__items {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact__list {
        grid-template-columns: repeat(4, 1fr);
    }
}